<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dear {{full_name}}</h2>

    <p>
        Trust you are well! 
<strong>{{companyName}} </strong> <br> would like to have you as one of their medic for the role of a {{job_title}}.
Kindly acknowledge this email if you are interested in this offer.

    </p>
    <br>




       <br>
       <p>Regards</p>
       <p>Adetoun Adesanya.</p>
       <br><br><br>
       
       <p>E-Business Management,</p>
       <p>Sequential Jobs (A Division of E-Metric Suite Solutions)</p>
       <p>A Performance Management Automation Solution Provider</p>
       <br><br>
       <p><i>..Increasing your business growth and profitability advantage</i></p>
       <p><strong>DL: +234 801 177 9216 | www.sequentialjobs.com | www.emetricsuite.com</strong></p>
</body>
</html>