export CLOUDINARY_URL=
export admin_mail=
export admin_password=
export secret_key=
export DB_NAME=for local marchine
export DB_USER=for local marchine
export DB_PASS=for local marchine
export DB_HOST=for local marchine
export DB_PORT=for local marchine
export DEBUG='True'
export DJANGO_ALLOWED_HOSTS=string sperated with comma
export SITE_URL=site base url
export mailjet_apikey=if u wanna us mailjet
export mailjet_secret_key=if u wanna us mailjet
export domain_mail='info@sequentialjobs.com'
export domain=string
export SENDINBLUE_API_KEY=